body{
    height: 100%;
    margin: 0;
    background-image: url('C:/Users/Jordyn/upenn/Gem-Game/assets/style.css/asanoha-400px/asanoha-400px/asanoha-400px.png');
}

.gem-image{
    height: 150px;
    width: 150px;
    margin: 0
}

.gem-row{
    max-height: 300px;
    /* width: 1000px; */
    margin: 0;
    padding: 0;
}

.goal{
    font-family: fantasy;
    font-size: 18pt;
}
button{
    border: none;
}

h1{
    font-family: fantasy;
    font-size: 30pt;
    
}

h2{
    font-family: fantasy;
    font-size: 25pt;
    
}

.words{
    font-size: 18pt;
    font-family: fantasy; 
}